@CHARSET "ISO-8859-1";

body
{
	background-color:Cornflowerblue; 
	text-align:center;
}

h1
{
	background-color:black;
	color:gray;
	text-align:center;
}

table
{
	margin-right:auto;
	margin-left:auto;
	border:3px solid balck;
}
.design
{
	margin-right:auto;
	margin-left:auto;
	border:3px solid balck;
}